* {
    --blanco: #ffffff;
    --azul_claro: #459ad3;
    --azul_opaco: #308ecd;
    --gris: #cccccc;
    --color-parrafo: #828282;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
  
  }

.roadmap_section {
    padding-top: 90px;
}

.title_roadmap {
    text-align: center;
    color: var(--azul_claro);
}

.img_roadmap {
    width: 100%;
}

