* {
    --blanco: #ffffff;
    --azul_claro: #459ad3;
    --azul_opaco: #308ecd;
    --gris: #cccccc;
    --color-parrafo: #828282;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
  
  }

.container {
    width: 70%;
    margin: 0 auto;
}

.title_feature {
    padding-top: 70px;
    text-align: center;
    font-size: 25px;
    color: var(--azul_claro);
    margin: 0;
}

.info_feature {
    text-align: center;
    font-size: 14px;
    margin-bottom: 55px;
}

.features_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 40px auto 0px auto;
    gap: 50px;
}

.features_tiles {
    flex-basis: 32%;
    border-radius: 10px;
    padding: 20px;
    min-height: 400px;
    margin: 0;
    border: 1px solid var(--gris);
    border-bottom: 6px solid var(--azul_opaco);
}

.image_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature_img {
    width: 230px;
}

.color_title {
    font-size: 20px;
    color: var(--azul_claro);
    margin-bottom: 5px;
}

.check {
    display: flex;
    align-items: center;
}


.check_img {
    width: 20px;
    margin-right: 8px;
}

.feature_info {
    font-size: 14px;
    color: var(--color-parrafo);
    font-weight: 500;
}



@media (max-width: 849px) {
    .container {
        width: 80%;
    }
    .features_content {
        width: 100%;
    }
}

@media (max-width: 742px) {
    .features_tiles {
        flex-basis: 100%;
    }
}