* {
    --blanco: #ffffff;
    --azul_claro: #459ad3;
    --azul_opaco: #308ecd;
    --gris: #cccccc;
    --color-parrafo: #828282;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
  
  }

.header {
    background-image: url(../../img/header_home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    border-radius: 0% 100% 227% 83% / 100% 0% 65% 13%;
    height: 90vh;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.header_title {
    color: var(--blanco);
    font-weight: 600;
    font-size: 50px;
    margin: 0;
}


.header_description {
    color: var(--blanco);
    margin-bottom: 60px;
    
}

.header_button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn {
    color: var(--blanco);
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 150px;
    padding: 15px;
    border-radius: 50px;
    font-weight: 700;
    border: 1px solid var(--blanco);
    text-decoration: none;
    transition: 0.4s;
}

.btn_access {
    background-color: var(--azul_claro);
    border: 1px solid var(--azul_claro);
}

.btn_access:hover {
    background-color: var(--azul_opaco);
    border: 1px solid var(--azul_opaco);
}


@media (max-width: 849px) {
    .header_description{
        width: 80%;
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .btn {
        width: 120px;
        font-size: 14px;
    }
    .header_description{
        font-size: 13px;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .btn {
        width: 100px;
        font-size: 11px;
    }

    .header_description {
        font-size: 13px;
        text-align: center;
    }
}